/* Write your CSS code here */

.home-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.user-img-details {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.user-name-text {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 500;
}

.user-description {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 500;
}
